.titulo_logo{
    color: red; /* Teste visual */
    font-family: "Rubik Moonrocks", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.feedback{
    min-height: 400px;
    background-color: #FEF6F4;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.btn_custom{
    width: 150px;
    border-radius: 20px;
    background-color:#FF9160 ;
}
