.topo {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    min-height: 100vh;
    background: url("/pizza-background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.topo::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.title {
    position: relative;
    z-index: 2;
    color: white; 
    text-align: center;
}
